body,html{overflow-x:hidden !important;}

.grecaptcha-badge{display:none !important;}

::-webkit-scrollbar{width:12px;background-color:#eff1f5}::-webkit-scrollbar-track{border-radius:3px;background-color:transparent}::-webkit-scrollbar-thumb{border-radius:5px;background-color:#5a6072;border:2px solid #eff1f5}
